@unitWidth: 320px;
@redColor: #939ab9;
@yellowColor: #939ab9;
@borderYellow: 2px solid #f7a545;
@borderRed: 2px solid #ff9600;
@borderYellowBorn: 2px solid #939ab9;
@borderRedBorn: 2px solid #939ab9;
.box{
	// width: 1224px;
	overflow: hidden;
  // background: #ebfbb4;
  // padding-top: 100px;
	.leftBox{
		float: left;
		width: 200px;
		.menu{
	    line-height: 5rem;
	    text-align: center;
	    background: #a9da88;
	    font-size: 1.6rem;
	    color: #3f5236;
	    border-bottom: 1px solid #92c57a;
		}
	}
	.middle{
    float: left;
    position: relative;
    width: 800px;
    height: 663px;
    overflow: hidden;
    .content{
	    position: absolute;
	    left: -120px;
	    top: -40px;
	    width: 1024px;
	    height: 663px;
	    .side{
	    	position: relative;
	    	.base{
					display: none;
					width: 100%;
	    	}
	    	.activation{
	    		display: block;
	    	}
	    	.pointBox{
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					.accurate{
						width: 42%;
						height: 88%;
				    margin-left: 29%;
				    // background: #ddd;
				    // opacity: 0.7;
				    margin-top: 6%;
				    overflow: hidden;
				    position: relative;
				   //  .unit{
							// width: 100%;
							// height: 100%;
							// float: left;
							// position: relative;
							.point1{
								position: absolute;
						    top: 4%;
						    left: 11%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point2{
								position: absolute;
						    top: 9%;
						    left: 5%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point3{
								position: absolute;
						    top: 14%;
						    left: 11%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point4{
								position: absolute;
						    top: 18%;
						    left: 11%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point5{
								position: absolute;
						    top: 22%;
						    left: 11%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point6{
								position: absolute;
						    top: 26%;
						    left: 6%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point7{
								position: absolute;
						    top: 31%;
						    left: 12%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point8{
								position: absolute;
								top: 35%;
						    left: 12%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point9{
								position: absolute;
						    top: 39%;
						    left: 12%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point10{
								position: absolute;
								top: 43%;
						    left: 9%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point11{
								position: absolute;
								top: 48%;
						    left: 13%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point12{
								position: absolute;
								top: 51%;
						    left: 13%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point13{
								position: absolute;
						    top: 55%;
						    left: 13%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point14{
								position: absolute;
						    top: 59%;
						    left: 10%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point15{
								position: absolute;
								top: 62%;
						    left: 11%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point16{
								position: absolute;
						    top: 65%;
						    left: 9%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point17{
								position: absolute;
						    top: 69%;
						    left: 7%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point18{
								position: absolute;
								top: 73%;
					    	left: 5%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point19{
								position: absolute;
								top: 76%;
						    left: 4%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							//
							.point20{
								position: absolute;
						    top: 5%;
						    left: 15%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point21{
								position: absolute;
						    top: 10.5%;
						    left: 9%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point22{
								position: absolute;
						    top: 15%;
						    left: 15%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point23{
								position: absolute;
						    top: 19.5%;
						    left: 15%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point24{
								position: absolute;
						    top: 24.5%;
						    left: 15.5%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point25{
								position: absolute;
						    top: 29%;
						    left: 10%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point26{
								position: absolute;
						    top: 33%;
						    left: 15%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point27{
								position: absolute;
						    top: 37.5%;
						    left: 15.5%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point28{
								position: absolute;
						    top: 42%;
						    left: 17%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point29{
								position: absolute;
						    top: 46%;
						    left: 12%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point30{
								position: absolute;
						    top: 50%;
						    left: 18%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point31{
								position: absolute;
						    top: 54%;
						    left: 18%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point32{
								position: absolute;
						    top: 58.5%;
						    left: 18%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point33{
								position: absolute;
						    top: 63%;
						    left: 16%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point34{
								position: absolute;
						    top: 66.5%;
						    left: 15.5%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point35{
								position: absolute;
						    top: 71%;
						    left: 13%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point36{
								position: absolute;
						    top: 75.5%;
						    left: 11%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point37{
								position: absolute;
						    top: 80%;
						    left: 9%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point38{
								position: absolute;
						    top: 84%;
						    left: 7%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							// 
							.point39{
								position: absolute;
						    top: 6.5%;
						    left: 26.5%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point40{
								position: absolute;
						    top: 12%;
						    left: 23%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point41{
								position: absolute;
						    top: 16.5%;
						    left: 27%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point42{
								position: absolute;
						    top: 21.5%;
						    left: 28%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point43{
								position: absolute;
						    top: 26%;
						    left: 28%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point44{
								position: absolute;
								top: 32%;
						    left: 24%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point45{
								position: absolute;
						    top: 36%;
						    left: 28.5%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point46{
								position: absolute;
						    top: 40%;
						    left: 28.5%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point47{
								position: absolute;
						    top: 44.5%;
						    left: 28.5%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point48{
								position: absolute;
						    top: 50%;
						    left: 26%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point49{
								position: absolute;
						    top: 53.5%;
						    left: 29%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point50{
								position: absolute;
						    top: 57.5%;
						    left: 29%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point51{
								position: absolute;
						    top: 62%;
						    left: 29%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point52{
								position: absolute;
								top: 67%;
						    left: 27.5%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point53{
								position: absolute;
								top: 71%;
						    left: 27.5%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point54{
								position: absolute;
								top: 76.5%;
						    left: 26%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point55{
								position: absolute;
						    top: 81%;
						    left: 25%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point56{
								position: absolute;
						    top: 86%;
						    left: 23.5%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point57{
								position: absolute;
						    top: 91%;
						    left: 22%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							// 
							.point58{
								position: absolute;
								top: 38px;
						    left: 47%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point59{
								position: absolute;
						    top: 13.5%;
						    left: 47%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point60{
								position: absolute;
						    top: 17.5%;
						    left: 47%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point61{
								position: absolute;
						    top: 22.5%;
						    left: 47%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point62{
								position: absolute;
						    top: 27.5%;
						    left: 47%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point63{
								position: absolute;
								top: 33%;
						    left: 47%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point64{
								position: absolute;
						    top: 37%;
						    left: 47%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point65{
								position: absolute;
						    top: 42%;
						    left: 47%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point66{
								position: absolute;
						    top: 46%;
						    left: 47%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point67{
								position: absolute;
						    top: 52%;
						    left: 47%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point68{
								position: absolute;
						    top: 55%;
						    left: 47%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point69{
								position: absolute;
						    top: 59%;
						    left: 47%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point70{
								position: absolute;
								top: 64%;
						    left: 47%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point71{
								position: absolute;
						    top: 69%;
						    left: 47%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point72{
								position: absolute;
						    top: 73%;
						    left: 47%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point73{
								position: absolute;
						    top: 79%;
						    left: 47%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point74{
								position: absolute;
						    top: 84%;
						    left: 47%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point75{
								position: absolute;
						    top: 89%;
						    left: 47%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point76{
								position: absolute;
						    top: 94%;
						    left: 47%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							// 
							.point77{
								position: absolute;
						    top: 6%;
						    right: 31%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point78{
								position: absolute;
						    top: 12.5%;
						    right: 27%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point79{
								position: absolute;
						    top: 17%;
						    right: 31.5%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point80{
								position: absolute;
						    top: 22%;
						    right: 31.5%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point81{
								position: absolute;
						    top: 26.5%;
						    right: 31.5%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point82{
								position: absolute;
						    top: 32%;
						    right: 28%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point83{
								position: absolute;
						    top: 36%;
						    right: 32%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point84{
								position: absolute;
								top: 40.5%;
						    right: 32%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point85{
								position: absolute;
								top: 45%;
						    right: 32%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point86{
								position: absolute;
								top: 50%;
						    right: 31%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point87{
								position: absolute;
						    top: 53.5%;
						    right: 33%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point88{
								position: absolute;
						    top: 57.5%;
						    right: 33%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point89{
								position: absolute;
								top: 61.5%;
						    right: 33%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point90{
								position: absolute;
								top: 67%;
						    right: 31%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point91{
								position: absolute;
						    top: 71%;
						    right: 31.5%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point92{
								position: absolute;
								top: 76%;
						    right: 30%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point93{
								position: absolute;
						    top: 81%;
						    right: 28.5%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point94{
								position: absolute;
								top: 86%;
						    right: 27.5%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point95{
								position: absolute;
						    top: 91%;
						    right: 26%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							// 
							.point96{
								position: absolute;
								top: 5%;
    						right: 18.5%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point97{
								position: absolute;
						    top: 10.5%;
    						right: 12.5%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point98{
								position: absolute;
						    top: 15.5%;
    						right: 20.5%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point99{
								position: absolute;
						    top: 20%;
    						right: 19.5%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point100{
								position: absolute;
						    top: 24.5%;
    						right: 19.5%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point101{
								position: absolute;
								top: 29%;
    						right: 13.5%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point102{
								position: absolute;
						    top: 33.5%;
    						right: 20.5%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point103{
								position: absolute;
						    top: 38%;
    						right: 20.5%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point104{
								position: absolute;
						    top: 42%;
    						right: 20%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point105{
								position: absolute;
						    top: 46%;
    						right: 16.5%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point106{
								position: absolute;
						    top: 50.5%;
    						right: 21.5%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point107{
								position: absolute;
						    top: 54%;
    						right: 21.5%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point108{
								position: absolute;
								top: 58%;
    						right: 21.5%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point109{
								position: absolute;
						    top: 62.5%;
    						right: 18.5%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point110{
								position: absolute;
						    top: 67%;
    						right: 19.5%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point111{
								position: absolute;
						    top: 71%;
    						right: 17.5%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point112{
								position: absolute;
						    top: 75%;
    						right: 15%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point113{
								position: absolute;
						    top: 79.5%;
    						right: 12.5%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							.point114{
								position: absolute;
						    top: 84%;
    						right: 10.5%;
								div{
									margin: auto;
									background: @redColor;
									height: 11px;
							    width: 11px;
							    border: @borderRedBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderRed;
							    }
								}
							}
							// 
							.point115{
								position: absolute;
						    top: 4%;
						    right: 15%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point116{
								position: absolute;
						    top: 9%;
						    right: 9%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point117{
								position: absolute;
						    top: 14%;
						    right: 15%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point118{
								position: absolute;
						    top: 18%;
						    right: 15%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point119{
								position: absolute;
						    top: 22%;
						    right: 15%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point120{
								position: absolute;
						    top: 26%;
						    right: 10%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point121{
								position: absolute;
						    top: 31%;
						    right: 16%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point122{
								position: absolute;
								top: 35%;
						    right: 16%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point123{
								position: absolute;
								top: 39%;
						    right: 16%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point124{
								position: absolute;
								top: 43%;
						    right: 13%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point125{
								position: absolute;
						    top: 48%;
						    right: 17%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point126{
								position: absolute;
						    top: 51%;
						    right: 17%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point127{
								position: absolute;
								top: 55%;
						    right: 17%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point128{
								position: absolute;
								top: 59%;
						    right: 14%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point129{
								position: absolute;
						    top: 62%;
						    right: 15%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point130{
								position: absolute;
								top: 65%;
						    right: 13%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point131{
								position: absolute;
						    top: 69%;
						    right: 11%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point132{
								position: absolute;
								top: 73%;
						    right: 9%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
							.point133{
								position: absolute;
						    top: 76%;
						    right: 7%;
								div{
									margin: auto;
									background: @yellowColor;
									height: 11px;
							    width: 11px;
							    border: @borderYellowBorn;
							    border-radius: 50%;
							    cursor: pointer;
							    &:hover{
							    	border:@borderYellow;
							    }
								}
							}
				    // }
					}
	    	}
	    }
    }
		.doBox{
			overflow: hidden;
	    position: absolute;
    	width: 100%;
    	bottom: 0;
			.left{
				width: 50%;
				background: #a4e800;
				line-height: 4rem;
				text-align: center;
				float: left;
				cursor: pointer;
				font-size: 1.6rem;
				color: #fff;
			}
			.right{
				width: 50%;
				background: #96d400;
				line-height: 4rem;
				text-align: center;
				float: right;
				cursor: pointer;
				font-size: 1.6rem;
				color: #fff;
			}
		}
	}
}